In [1]:
from datamanager import DataManager
import pandas as pd

subfolder = 'data/01-01-23_to_01-07-23/'
cons_path = f'{subfolder}consumption_data.csv'
prod_path = f'{subfolder}production_data.csv'
price_path = f'{subfolder}price_data.csv'
dm = DataManager(cons_path, prod_path, price_path)

dm.cons_df.tail()

Loading consumption data...
Loading production data...

HousingCategory,Andet,Erhverv,Etageejendom,Fritidshuse,Parcel- og rækkehuse,Ukendt
HourDK,,,,,,
2023-06-30T19:00:00,8.389332,926.274921,120.603547,34.230517,239.829914,3.697387
2023-06-30T20:00:00,7.859767,885.663342,110.721854,30.932268,222.994408,3.364028
2023-06-30T21:00:00,7.547417,847.770793,104.790867,28.579675,223.371815,3.221854
2023-06-30T22:00:00,7.261782,843.542887,98.646378,26.676861,220.444578,3.073293
2023-06-30T23:00:00,6.836617,810.738750,87.602625,23.591119,205.123040,2.778786